html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing:border-box;
}

.container {
    font-family: "Roboto", serif;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
}

.input-containers {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2px;
}

.input-containers > .row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 2px;
}
/* TITLE STYLING */
.title > h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 1em 1em 0;
}


/* ANSWER DISPLAY STYLING */
.answer {
    padding-top: 2em;
    padding-bottom: 2em;
}
#answerDisplay {
   padding: 1em;
    width: 100%;
    font-size: 1.5em;
}


/* BUTTON STYLING */
.button-container {
    display: flex;
    flex: 1 1 0;
}

.button-container > button {
    width: 100%;
    padding: 3em;
    border: none;
    font-size: 1.1em;
}

.button-container > button:hover {
    background: aquamarine;
}

.button-container > button:active {
    background: darkblue;
    color: #ffffff;
}
